div.article-related {
  margin-top: 40px;
}

fieldset {
  margin-top: 20px;
  border: 1px dashed gray;
}

fieldset legend {
  text-align: center;
  margin: auto 15px;
  font-size: 22px;
  color: #f1f2f3;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "宋体", "微软雅黑", Arial, sans-serif ;
}