.aside-menu {
    position: fixed;
    right: 0;
    width: 10em;
    background: #000;
}

.aside-menu {
  float: right
  position: relative;
  width: 20%;
  display: none;
}

.aside-menu div.aside-bar-icon {
    height: 10px;
    width: 100%;
}