div.content-toc {
  right: 10px;
  position: fixed;
  float: right;
  top: 6rem;
  overflow-y: auto;

  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

div.content-toc a {
  white-space:nowrap;
}

div.content-toc ul {
  overflow:hidden;
  white-space:nowrap;
}

div.content-toc ul a {
  text-overflow:ellipsis;
  overflow:hidden;
}

div.content-toc a {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  -webkit-border-radius: 0;
  border-radius: 0;
}


div.content-toc a:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.content-toc a.active, div.content-toc a:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
}

#TableOfContents > ul {
  list-style-type: none;
  padding-left: 0;
}
#TableOfContents > ul > li ul {
  list-style-type: none;
  padding-left: 1em;
}

