<aside class="sider">
    <div>
        <h2>书籍</h2>
    </div>
    <ul>
        <li>
            <a href="https://premake.realjf.io" title="premake" target="_blank">
                <span>premake 中文手册</span>
            </a>
        </li>
        <li>
            <a href="https://gltf.realjf.io" title="glTF" target="_blank">
                <span>glTF 中文手册</span>
            </a>
        </li>
        <li>
            <a href="https://box2d.realjf.io" title="Box2D" target="_blank">
                <span>Box2D 中文手册</span>
            </a>
        </li>
        <li>
            <a href="https://gdb.realjf.io" title="gdb" target="_blank">
                <span>gdb 中文手册</span>
            </a>
        </li>
    </ul>
</aside>
